@tailwind base;
@tailwind components;
@tailwind utilities;

/* output.css */
#mobile-menu.show {
  transform: translateX(0);
}

.fixed {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000; 
}

/* CSSアニメーションの定義 */
@keyframes fadeOut {
  from { opacity: 1; }
  to { opacity: 0; }
}

@keyframes slideInOut {
  0% { transform: translateY(100vh); }
  50% { transform: translateY(0); }
  100% { transform: translateY(-100vh); }
}

@keyframes textFadeOut {
  0% { opacity: 1; }
  80% { opacity: 1; }
  100% { opacity: 0; }
}


/* アニメーションの適用 */
.fadeOut {
  animation: fadeOut 1.5s ease forwards;
}

.slideInOut {
  animation: slideInOut 2s ease forwards;
}

.textFadeOut {
  animation: textFadeOut 1.2s ease forwards;
}















/* Tailwindのユーティリティクラスを使ってカスタムアニメーションを追加 */
@keyframes rotateY {
  from {
    transform: rotateY(180deg);
  }
  to {
    transform: rotateY(0deg);
  }
}

.works-img {
  opacity: 0;
  transform: rotateY(180deg);
  transition: transform 1s;
}

.works-img.revealed {
  opacity: 1;
  transform: rotateY(0deg);
}

.works-img.hovered {
  transform: scale(1.1);
  transition: transform 0.1s ease-in-out; 
}


.section-title {
  opacity: 0;
  transform: translateY(50px);
  transition: opacity 3s ease, transform 3s ease;
}

.section-title.visible {
  opacity: 1;
  transform: translateY(0);
}
