@tailwind base;
@tailwind components;
@tailwind utilities;

/* output.css */
#mobile-menu.show {
  transform: translateX(0);
}

.fixed {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000; 
}



.works-img {
  opacity: 0;
  transform: rotateY(180deg);
  transition: opacity 1s, transform 1s;
}

.works-img:hover {
  scale: 1.10;
}
