@tailwind base;
@tailwind components;
@tailwind utilities;

/* output.css */
#mobile-menu.show {
  transform: translateX(0);
}

.fixed {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000; 
}



/* Tailwindのユーティリティクラスを使ってカスタムアニメーションを追加 */
@keyframes rotateY {
  from {
    transform: rotateY(180deg);
  }
  to {
    transform: rotateY(0deg);
  }
}

.works-img {
  opacity: 0;
  transform: rotateY(180deg);
  transition: transform 1s;
}

.works-img.revealed {
  opacity: 1;
  transform: rotateY(0deg);
}

.works-img.hovered {
  transform: scale(1.1);
  transition: transform 0.1s ease-in-out; 
}


.section-title {
  opacity: 0;
  transform: translateY(50px);
  transition: opacity 3s ease, transform 3s ease;
}

.section-title.visible {
  opacity: 1;
  transform: translateY(0);
}
